.mytext{
    background-color: rgb(255, 157, 127);
    width: 80px;
    height: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;

}
.miDivision{

    border: skyblue solid 1px;
    width: 400px;
    height: 300px;
    margin: 0 auto;
    border-radius: 15px 15px 15px 15px;
    background-color: rgb(186, 246, 250);
   
}
#resultado{
    background-color: rgb(43, 226, 113);
    width: 150px;
    height: 150px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    margin: 100px 100px 100px 100px;
}